<nav id="navbar" class="navbar navbar-expand-lg navbar-dark fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center">
        <h1 class="logo me-auto">
            <a class="navbar-brand" href="#"><img src="assets/img/LOGO_IKOMI.png" alt="Logo"></a>
        </h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link scrollto" href="/home" [class.active]="activeSection === 'home'" (click)="setActive('home')">
                        <i class='bx bx-home-alt-2 bx-sm'></i> Inicio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollto" href="/nosotros" [class.active]="activeSection === 'nosotros'" (click)="setActive('nosotros')">
                        <i class='bx bxs-business bx-sm'></i> Nosotros
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollto" href="/services" [class.active]="activeSection === 'services'" (click)="setActive('services')">
                        <i class='bx bxs-briefcase-alt-2 bx-sm'></i> Servicios
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollto" href="/portfolio" [class.active]="activeSection === 'portfolio'" (click)="setActive('portfolio')">
                        <i class='bx bxl-product-hunt bx-sm'></i> Producto
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollto" href="/marca" [class.active]="activeSection === 'team'" (click)="setActive('team')">
                        <i class='bx bxl-microsoft-teams bx-sm'></i> Equipo
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollto" href="/contact" [class.active]="activeSection === 'contact'" (click)="setActive('contact')">
                        <i class='bx bxs-contact bx-sm'></i> Contáctenos
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
