<router-outlet><router-outlet/>
<app-navmenu></app-navmenu>
<section id="home">
  <app-home></app-home>
</section>
<section id="clientes">
  <app-cliente></app-cliente>
</section>

<section id="nosotros">
  <app-nosotros></app-nosotros>
</section>

<section id="counts">
  <app-counts></app-counts>
</section>

<section id="servicio">
  <app-servicio></app-servicio>
</section>

<section id="productos">
  <app-productos></app-productos>
</section>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="3D3C3C" fill-opacity="1" d="M0,224L1440,64L1440,320L0,320Z"></path>
</svg>
<section id="marca">
  <app-marca></app-marca>
</section>

<section id="contacto">
  <app-contacto></app-contacto>
</section>

<section id="footer">
  <app-footer></app-footer>
</section>